{% extends 'ecom/customer_base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
            <img src="{% static customer.profile_pic.url %}"  height=100 width=100 alt="profile pic" class="img-fluid" style="border-radius:50%;" />
      </div>
      <div class="col-md-4">
          <p>{{request.user}}</p>
          <p>{{customer.address}}</p>
            <p>{{customer.mobile}}</p>
          <p><a href="/edit-profile" class="btn btn-warning">Edit Profile </a></p>
      </div>
    </div>
</div>
{% endblock %}
