{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
      <div class="col-md-6 mx-auto bg-warning">
          <h2 class="text-center">Payment Details </h2>
          <form method="post">
            <div class="form-group">
                <label for="cardNumber">
                    CARD NUMBER</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                        required autofocus />
                </div>
                </div>
                        <div class="row">
                              <div class="col-xs-7 col-md-7">
                                  <div class="form-group">
                                      <label for="expityMonth">
                                          EXPIRY DATE</label>

                                          <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />


                                          <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>

                              </div>
                              <div class="col-xs-5 col-md-5 pull-right">
                                  <div class="form-group">
                                      <label for="cvCode">
                                          CV CODE</label>
                                      <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                  </div>
                              </div>
                          </div>
                          <a href="#" class="btn btn-danger btn-block">{{total}} Final Payment</a>

                            <a href="/payment-success" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
                </div>



            </div>

          </form>
      </div>


{% endblock %}
